@import "normalise.css";

body {
    margin: 0 32% 1% 32%;
}
.canvas {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    aspect-ratio: 1;
    border: solid 0.1px black;
}

.gridfield {
    border: solid 0.1px black;
    background-color: rgb(223, 223, 223);
}

.divider {
    margin-top: 10px;
}

.choices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

h1 {
    text-align: center;
    margin: 12px;
}